<div class="container pt-5">
    <a class="btn btn-primary btn-circle btn-circle-lg m-1" href="/" ><i class="fa fa-home"></i></a> 
    <h1 class="text-center">{{name}}</h1>
    <h4 class="text-center">{{text}}</h4>
    <br>
    <br>
    <!-- <div class="text-center">
        <a href="?microphone=true"><button type="button" class="btn btn-secondary p-3 round"><i class="icon-microphone icon-3x"></i></button></a>
        <br>
        <br>
        <p class="{{speechAsTextClass}}">You said: {{speechAsText}}</p>
    </div> -->
    <div class="text-center">
        <button class="btn btn-primary"><i class="icon-microphone icon-3x" id="microphone-start"></i></button>
        <button class="btn btn-danger"><i class="icon-circle icon-3x" id="microphone-stop"></i></button>
        <br>
        <br>
        <section id="sound-clips">
        </section>
    </div>
</div>

<script>
    // Source: https://developer.mozilla.org/en-US/docs/Web/API/MediaStream_Recording_API/Using_the_MediaStream_Recording_API
    var record = document.getElementById('microphone-start');
    var stop = document.getElementById('microphone-stop');
    var soundClips = document.getElementById('sound-clips');

    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia ({
            audio: true
        }).then(function(stream) {
            var mediaRecorder = new MediaRecorder(stream);

            mediaRecorder.onstop = function(e) {
                console.log('Record onstop event triggered');

                var clipContainer = document.createElement('article');
                var audio = document.createElement('audio');

                clipContainer.classList.add('clip');
                audio.setAttribute('controls', '');
                clipContainer.appendChild(audio);
                soundClips.appendChild(clipContainer);

                var blob = new Blob(chunks, { 'type': 'audio/wav; codecs=MS_PCM' });
                chunks = [];
                var audioURL = window.URL.createObjectURL(blob);
                audio.src = audioURL;
            };

            var chunks = [];

            mediaRecorder.ondataavailable = function(e) {
                chunks.push(e.data);
            };

            record.onclick = function() {
                mediaRecorder.start();
                console.log('Recorder started');
                record.style.background = 'red';
                record.style.color = 'black';
            };

            stop.onclick = function() {
                mediaRecorder.stop();
                console.log('Recorder stopped');
                record.style.background = '';
                record.style.color = '';
            };
        }).catch(function(err) {
            console.log('Error:', err);
        });
    } else {
        console.log('getUserMedia not supported on your browser');
    }
</script>
